<div class="span-22 last">
    
    <h2>Welcome! Let's Get Started.</h2>
    
    <span>There are two main ways to share content on TheLikeStream. We suggest you start by installing and using the bookmarklet.</span>
    
    <hr class="space" /><hr class="space" />
    
    <%= render :partial => "/page/submitOptions" %>
</div>