<div class="span-22 last" style="font-size: 1.5em;">
    
    <div style="width:100%; border-top: 1px dotted #ccc;">&nbsp;</div>
    
    <div style="font-size: 0.85em;" class="span-13">
        <h4 style="margin:0; padding: 10px 0;font-size:1.4em;">Install the Bookmarklet:</h4>
    	<%= render :partial => '/layouts/introBanner/condensedGettingStarted' %>
	</div>
	<div style="font-size: 0.85em;" class="span-8 prepend-1 last">
	    <div style="padding:15px; border:3px solid #ccc;">
	        Our bookmarklet converts your website into a Facebook Like Page. We host everything and handle the Facebook integration, so all you have to do is click a button. TheLikeStream is the fastest and easiest way to share your content on Facebook.
	    </div>
    </div>

</div>