<div class="span-24" style="font-size: 1.5em;">
    
    <h4 style="margin:0; padding: 10px 0;">Install the Bookmarklet:</h4>

	<div style="font-size: 0.85em">
    	<%= render :partial => '/layouts/introBanner/condensedGettingStarted' %>
	</div>

</div>