<div class="prepend-1 span-20 append-1 last">
	<h2>Thanks!</h2>
	<h4>You can now <a href='javascript:window.close()'><span style="color: black;">close this window</span></a> and resubmit your link.</h4>
</div>