
<style type="text/css" media="screen">
    .secondary_submit {
        color: white; background-color: #ff008b; font-size: 0.9em; font-weight: bold; padding:1px 2px;
    }
    .secondary_submit:hover {
/*            background-color: #ff0;*/
        text-decoration: none;
        color: black;
    }
</style>


<div class="span-24" style="">
    
    <div id="contentContainer">
      <div class="span-24">
        <h2 style="padding:0; margin:0;" class="span-16">Popular</h2>
        <div class="span-8" style="text-align:right; padding-top: 15px; font-size: 0.8em;">
          <span class="highlight" style="padding: 2px 3px; font-weight:bold;">new!</span> awards
        </div>
      </div>

      <div style="border-bottom: 1px dotted #ccc; clear: both; height: 2px; margin-bottom: 10px">&nbsp;</div>

      <div class="span-15 append-1">
        <% for page in @pages %>
          <%= render :partial => '/page/homeRow', :locals => {:page=>page} %>
        <% end %>
        <% if @pages.length == 0 %>
          No pages found.
        <% end %>

        <div class="span-5 prepend-3">
          <%= will_paginate @pages %>
        </div>

      </div>
    </div> 
    
    <%= render :partial=>"/layouts/sidePanel" %>
    
</div>

