

<style type="text/css" media="screen">
    .secondary_submit {
        color: white; background-color: #ff008b; font-size: 0.9em; font-weight: bold; padding:1px 2px;
    }
    .secondary_submit:hover {
/*            background-color: #ff0;*/
        text-decoration: none;
        color: black;
    }
</style>


<div class="span-22 last" style="">
    
    <div class="span-20">
        <h2 style="padding:0; margin:0;">Popular</h2>
    </div>
        
    <div class="span-2 last" style="padding-top:15px; text-align: right;">
        <%= link_to "+SUBMIT", submit_path, :class=>"secondary_submit" %>
    </div>
    
    <div style="border-bottom: 1px dotted #ccc; clear: both; height: 2px; margin-bottom: 10px">&nbsp;</div>
    <script type="text/javascript" charset="utf-8">
        function writeLikeButton(targetId, encodedLink)
        {
            $(targetId).innerHTML = '<iframe src="http://www.facebook.com/plugins/like.php?href='+encodedLink+'&amp;layout=button_count&amp;show_faces=false&amp;width=70&amp;action=like&amp;colorscheme=light&amp;height=20" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:90px; height:20px;" allowTransparency="true"></iframe>';
        }
    </script>
    <% for page in @pages %>
        <%= render :partial => '/page/homeRow', :locals => {:page=>page} %>
    <% end %>
    
    
    
</div>

