(function(){

// Assemble the submit path

var k = "<%= @user_key %>";
var t = escape(document.getElementsByTagName("title")[0].innerHTML);
var u = escape(window.location.href);
var src = "<%= bookmarklet_submit_url %>?k="+k+"&t="+t+"&u="+u;

var ourStyle = document.createElement('style');
ourStyle.setAttribute('type', 'text/css');
ourStyle.innerHTML = "\
#likeStreamSubmitStatusBox { \
	text-align: left; color: black;\
}\
#likeStreamSubmitStatusBox a {\
	text-decoration: underline; color: #00f; \
}";

// Append submission box styles
document.getElementsByTagName("head")[0].appendChild(ourStyle);

// Append status box
var e = document.createElement('div');
e.setAttribute("id", "likeStreamSubmitStatusBox");
e.style.position = "fixed";
e.style.zIndex = 99999;
e.style.fontSize = "20px";
e.style.padding = "15px";
e.style.top="15px";
e.style.right="15px";
e.style.width="450px";
e.style.height="600px";
e.style.border="5px solid black";
e.style.backgroundColor="white";
document.body.insertBefore(e, document.body.firstChild);

window.__likeStreamBookmarketResponseHandler = function( response )
{
	if (response.completed == true)
	{
		e.innerHTML = "Submitted.<br/> <a href='" + response.link + "'>View post</a>";
	}
	else if (response.require_login)
	{
		e.innerHTML = '<%= link_to 'Please login first', login_url, :target=>'_blank' %><br/>';
		e.innerHTML += "Please use the popup to log in, then <a href='javascript:window.__likeStreamBookmarkletSubmit(\""+src+"\");' style='color:#00f'>click here</a> to continue.";
	}
	else if (response.message)
	{
		e.innerHTML = response.message;
	}
	else
	{
		e.innerHTML = "There was an error, this page was not submitted";
	}
}


e.innerHTML = "Submitting";

window.__likeStreamBookmarkletSubmit = function(requestPath)
{
	// "Submit" link
	var s = document.createElement("script");
	s.setAttribute("src", requestPath);
	document.body.appendChild(s);
}

window.__likeStreamBookmarkletSubmit(src);

})();