<h2 style="color:#0cf;padding-bottom:0; margin-bottom: 7px; line-height: 1.2em;">Discover Interesting Content From Around The Web</h2>
<div class="span-17" style="color: #7f7f7f;">TheLikeStream is a great source for interesting user-generated content. To learn about submitting content, visit our <%= link_to "tools page", tools_path %>.</div>

<% if false %>
    THIS IS OLD
    <div class="span-17" style="color: #7f7f7f;">Our bookmarklet converts your website into a Facebook Like Page. We host everything and handle the Facebook integration, so all you have to do is click a button. TheLikeStream is the fastest and easiest way to share your content on Facebook.</div>
    <div class="span-5 last">
         <a href="javascript:showGettingStartedBanner()" class="btn" style="float:right;font-size:1.1em; position:relative; bottom: 1px;"><span><span><b>&nbsp;</b><u>Get Started!</u></span></span></a>
         <a href="javascript:closeBanner()" class="btn" style="margin-right: 5px; float:right;font-size:1.1em; position:relative; bottom: 1px;"><span><span><b>&nbsp;</b><u>Hide</u></span></span></a>
    </div>
<% end %>
<div style="width:100%; clear: both;"></div>