<h2 style="color:#0cf;padding-bottom:0; margin-bottom: 7px; line-height: 1.2em;">Build <em>Like Pages</em> From Your Website</h2>
<div class="span-17" style="color: #7f7f7f;">Use our bookmarklet to quickly create a Like Page using your site's content. TheLikeStream is the fastest way to share your content on Facebook.</div>
<div class="span-5 last">
     <a href="javascript:showGettingStartedBanner()" class="btn" style="float:right;font-size:1.1em; position:relative; bottom: 1px;"><span><span><b>&nbsp;</b><u>Get Started!</u></span></span></a>
     <a href="javascript:closeBanner()" class="btn" style="margin-right: 5px; float:right;font-size:1.1em; position:relative; bottom: 1px;"><span><span><b>&nbsp;</b><u>Hide</u></span></span></a>
</div>
<div style="width:100%; clear: both;"></div>