<div class="span-16">
    <div style="padding: 20px; padding-left: 0;">
        <h2 style="color:#333; padding-bottom:0; margin-bottom: 2px; font-size: 2.3em; line-height: 1.2em;">Find and Share Content With Your Friends</h2>
        <div style="font-size: 16px; color: #999; padding-bottom: 0; margin-bottom: 0;">Instantly vote for your favorite content.  No login required!</div>
    </div>
</div>
<div class="span-7 last" style="text-align: x;">
    <div style="padding-top: 20px;">
        <h3 style="color:#777;margin-bottom: 10px;">Submitting content is easy, too.</h3>
        <a href="<%= submit_path %>" class="btn" style="float:left;font-size:1.1em; position:relative; bottom: 1px;"><span><span><b>&nbsp;</b><u>Learn More</u></span></span></a>
    </div>
</div>

<% if false %>
    THIS IS OLD
    <div class="span-17" style="color: #7f7f7f;">Our bookmarklet converts your website into a Facebook Like Page. We host everything and handle the Facebook integration, so all you have to do is click a button. TheLikeStream is the fastest and easiest way to share your content on Facebook.</div>
    <div class="span-5 last">
         <a href="javascript:showGettingStartedBanner()" class="btn" style="float:right;font-size:1.1em; position:relative; bottom: 1px;"><span><span><b>&nbsp;</b><u>Get Started!</u></span></span></a>
         <a href="javascript:closeBanner()" class="btn" style="margin-right: 5px; float:right;font-size:1.1em; position:relative; bottom: 1px;"><span><span><b>&nbsp;</b><u>Hide</u></span></span></a>
    </div>
<% end %>
<div style="width:100%; clear: both; height: 1px;">&nbsp;</div>
