<!-- JS Loaded By The Bookmarklet  -->

(function(){

var safeSend = false;

// If this looks like an image, let's change our strategy
if (window.location.href.match( /\.(gif|tiff|png|jpeg|jpg|bmp)$/i ))
{
    safeSend = true;
}

// Assemble submit path

var k = "<%=h @user_key %>";
var u = encodeURIComponent(window.location.href);
var t;
if (!safeSend){
    t = encodeURIComponent(document.getElementsByTagName("title")[0].innerHTML);
} else {
    t = encodeURIComponent(prompt("Please enter a title for this image:", ""));
}
var src = "<%=h bookmarklet_submit_url %>?k="+k+"&t="+t+"&u="+u;

var ourStyle = document.createElement('style');
ourStyle.setAttribute('type', 'text/css');
ourStyle.innerHTML = "\
#likeStreamSubmitStatusBox { \
	text-align: left; color: black;\
}\
#likeStreamSubmitStatusBox a {\
	text-decoration: underline; color: #00f; \
}";

// Append submission box styles
if (!safeSend) document.getElementsByTagName("head")[0].appendChild(ourStyle);

// Append status box
var e = document.createElement('div');
e.setAttribute("id", "likeStreamSubmitStatusBox");
e.style.fontFamily = "'Helvetica Neue', Arial, Helvetica, sans-serif";
e.style.lineHeight = "25px";
e.style.position = "fixed";
e.style.zIndex = 99999;
e.style.fontSize = "20px";
e.style.padding = "15px";
e.style.top="15px";
e.style.right="15px";
e.style.width="450px";
e.style.height="60px";
e.style.border="5px solid black";
e.style.backgroundColor="white";
document.body.insertBefore(e, document.body.firstChild);

window.__likeStreamBookmarkletShowContinue = function()
{
	e.innerHTML = '<p>Once you\'ve signed in, click <a href="javascript:window.__likeStreamBookmarkletSubmit(\''+src+'\');">here</a> to resubmit this page. (Or click <%= link_to "here", login_url, :target=>"_blank" %> to reopen the login window.)';
}

window.__likeStreamBookmarketResponseHandler = function( response )
{
	if (response.completed == true)
	{
		e.innerHTML = "Done!";
		setTimeout( function(){e.style.display = "none";}, 3000 );	// Close in 3 seconds
	}
	else if (response.require_login)
	{
		e.innerHTML = "<p>Please register. It's quick and only needs to be done once!</p>";
		// if ( navigator && navigator.userAgent.toLowerCase().indexOf('safari') > -1)
		// {
			// In Safari cross-domain iFrames can't set cookies by default, so we need to open up a new window.
			e.innerHTML += '<p><%= link_to 'Go!', login_bookmarklet_url, :target=>'_blank', :onclick=>'window.__likeStreamBookmarkletShowContinue()' %></p>';
        // }
        // else
        // {
        //     // NOT Safari - in place sign in
        //     e.innerHTML += '<iframe id="likeStreamLoginBox" src="http://localhost:3000/login/bookmarklet" width="400" height="300"></iframe>';
        // }
	}
	else if (response.message)
	{
		e.innerHTML = response.message;
	}
	else
	{
		e.innerHTML = "There was an error, this page was not submitted";
	}
}


window.__likeStreamBookmarkletSubmit = function(requestPath)
{
	// "Submit" link
	var s = document.createElement("script");
	s.setAttribute("src", requestPath + "&c_buster=" + Math.floor(Math.random()*10000));	// Don't cache
	document.body.appendChild(s);
	
    // e.innerHTML = "Submitting... <br/>(This may take a few seconds.)";
    
    // UNTIL YOU MOVE IMAGE PROCESSING INTO A BACKGROUND THREAD
    e.innerHTML = "<span style='background-color:#ff0;'><b>Submitted!</b></span><br/>(Content will be available in about 30 seconds.)";
    setTimeout( function(){e.style.display = "none";}, 2000 );	// Close in 2 seconds
}

window.__likeStreamBookmarkletSubmit(src);

})();