
<% if false %>
                <!-- DO NOT CACHE!!!!!! -->
<% end %>

<a class="btn" style="font-size:11px; position:relative; bottom: 1px; margin-right:2px;" href="javascript:void((function(){if(!document.body){alert('Page%20not%20ready.');}else{var%20e=document.createElement('scr'+'ipt');e.setAttribute('src','<%= h bookmarklet_js_url %>?v=1&k=<%= SecureRandom.hex(10) %>&c='+(new%20Date()).getTime().toString());e.setAttribute('type','text/javascript');document.body.appendChild(e);}})())"><span><span><b>&nbsp;</b><u>★ LikeStream</u></span></span></a>
