
<!-- TODO: generate key to allow write access when signed out -->

<% if RAILS_ENV == 'development' %>
	<a href="javascript:void((function(){if(!document.body){alert('Page%20not%20ready.');}else{var%20e=document.createElement('scr'+'ipt');e.setAttribute('src','http://localhost:3000/javascripts/submit_v1_dev.js?'+(new%20Date()).getTime().toString());e.setAttribute('type','text/javascript');document.body.appendChild(e);}})())" class="btn" style="font-size:0.7em; position:relative;bottom: 1px;"><span><span><b>&nbsp;</b><u>Add to LikeLoft</u></span></span></a>
<% else %>
	<a href="javascript:javascript:void((function(){if(!document.body){alert('Page%20not%20ready.');}else{var%20e=document.createElement('scr'+'ipt');e.setAttribute('src','http://www.likeloft.com/javascripts/submit_v1.js?'+(new%20Date()).getTime().toString());e.setAttribute('type','text/javascript');document.body.appendChild(e);}})())" class="btn" style="font-size:0.7em; position:relative;bottom: 1px;"><span><span><b>&nbsp;</b><u>Add to LikeLoft</u></span></span></a>
<% end %>
