<% like_target_id = "likeTarget#{(rand * 999999).floor}" %>

<div style="">
<span id="<%= like_target_id %>"></span>

<script type="text/javascript" charset="utf-8">
    writeLikeButton('<%= like_target_id %>', '<%= url_for :link=>nil, :only_path => false %>');
</script>

</div>