<!-- Unpublished -->
<div class="container">
    <div class="span-24">
        <div style="xborder: 1px solid #ccc; border-top: 0; border-bottom-right-radius: 10px; border-bottom-left-radius: 10px; padding: 15px;">
            <h2 style="margin-bottom: 0;">You Have Unpublished Stories</h2>
            <span style="font-size:14px; color:#7f7f7f;">Click "Like" to publish</span>
            
            <table style="margin-top:10px;">
                <% for page in get_unpublished_pages %>
                    <% like_target_id = "likeTarget#{(rand * 999999).floor}" %>
                    <tr>
                        <td style="width: 100px;">
                            <%= render :partial=>'/layouts/likeButtonSquareCounter', :locals=>{:page=>page} %>
                        </td>
                        <td style="margin: 0; padding: 0;">
                            <span style="font-size:18px;"><%= link_to h(page.title), page, :class=>"mainlink" %></span>
                            <%= link_to("<span><span><b>&nbsp;</b><u>Edit</u></span></span>", edit_page_path(page), :class=>"btn") %>
                            <%= link_to("<span><span><b>&nbsp;</b><u>Delete</u></span></span>", "/page/#{page.id}", :confirm => 'Are you sure?', :method =>:delete, :class=>"btn") %>
                        </td>
                    </tr>
                <% end %>
            </table>
        </div>
    </div>
</div>